.cache
.idea
.vscode
lerna-debug.log
coverage
**/node_modules

build
release*
storage
.env*
!.env.example.*

packages/*/build
packages/*/release*
packages/*/storage
packages/*/public/footer.html
packages/*/.env*
